html, body, p, h1, span, div {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura total da janela */
    margin: 0;
    background: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
}

.container {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    text-align: center;
    min-height: 100vh; /* Garante que ocupe a altura total da tela */
    border-radius: 30px 30px 30px 50%;
    margin-top: 20px;
    box-sizing: border-box;
}

.topo {
    width: 400px;
    height: max-content;
    background:  #154cc48c;
    border-radius: 15px 15px 0px 0px;
    /* background: #B0BEC5; */
    padding: 10px;
    box-sizing: border-box;
    
}

.titulo {  
  
    color: #0288D1;
    font-size: 40px;
    font-weight: bold;
    text-align: right;   
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
    margin-right: 50px;
    margin-top: 8px;
    position: relative;
}

.icon-titulo{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    right: -50px;
    

}
img {    
    width: 50px;
    height: 50px;
}


.pesquisarCidade {
    background: #D9D9D9;
    width: 200px;
    height: 15px;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
    box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.562);
    padding: 5px;
 
}
.pesquisarCidade:focus {
    box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.562);
    border: 1px solid black;
    outline: 0;
}
.suggestions {    
   width: 200px;      
    justify-self: center;
  
   
}
.suggestion-item {
    margin-top: 8px;
    cursor: pointer;
    width: 200px;
    height: 15px;
    font-size: 12px;
    text-align: center;
    background: white;
    padding: 3px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
}
.suggestion-item:hover {
    background-color: #eee;
}

.conteudo { 

    display: grid;
    width: 400px;
    height: max-content;
    grid-template-columns: 1fr 8fr 1fr;
    
    /* background: #bbbcbd; */
    background:#86c4e4;
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
    box-sizing: border-box;
}


.cidade-principal {
    grid-column: 2 / 3;
    background: rgba(0, 0, 0, 0.699);
    color: white;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.562); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;   
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    
}

.titulo-cidade {
    font-size: 30px;
    font-weight: bold;
}

.divTemperatura {
    display: flex;
    gap: 10px;
}
.imgPrincipal {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    
}

.p-temperatura {
    font-size: 30px;
    font-weight: bold;
    
 
}

.iconTempPrincipal {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
   

}

.previsao-primaria, .vento-primaria {
    font-size: 13px;
    font-weight: bold;
}


.subtitulo {
    grid-column: 2/3;
    text-align: left;
    font-size: 20px;
    height: 5px;
 
}
.container-secundarias {
    grid-column: 2 / 3 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    gap: 10px;
    height: max-content;
    margin-top: 5px;

}

.cidade-secundaria {
    background: rgba(0, 0, 0, 0.699);
    color: white;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 150px;
    display: flex;
    flex-direction: column;
 
}

.titulo-secundaria {
    font-size: 12px;
    font-size: bold;
    }

.temperatura-secundaria{
    font-size: 14px;
}    
.previsao-secundaria {
    font-size: 10px;
}

.imgSecundaria {
    width: 60px;
    height: 40px;
}


.off {
    display: none;
}

.on {
    display: initial;
}